body,
html {
  box-sizing: border-box; }

body {
  background-color: #262626; }

h1 {
  color: #01d277;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin: 10px; }

h2 {
  font-size: 36px;
  color: #f2f2f2; }

.section-title {
  font-family: "Poppins", sans-serif;
  margin: 5px 0 -5px 0; }

.no-movies-saved {
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center; }

#app {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  padding: 10px;
  width: 100%;
  min-width: 100px; }

#genres {
  font-size: 36px;
  margin: 5px; }

#genre {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

#movieInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 50%; }

#searchInput {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 800;
  vertical-align: middle;
  border-style: none;
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 10px; }

.submit-button {
  background-color: #f2f2f2;
  vertical-align: middle;
  border-style: none;
  font-size: 14px;
  height: 50px;
  width: 50px;
  margin: 0 5px 0 -10px; }

.category-button, #download-button {
  color: #f2f2f2;
  background-color: #1a9cff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 50px;
  width: 150px;
  padding: 15px;
  margin: 10px 5px;
  border-style: none; }

.category-button:hover, #download-button:hover {
  transition: 0.1s;
  border: solid 3px #1a9cff;
  font-size: 13px;
  background-color: transparent; }

#download-button {
  background-color: #ff7d1a;
  margin: 30px 0;
  display: none; }

#download-button:hover {
  transition: 0.1s;
  border: solid 3px #ff7d1a;
  font-size: 13px;
  background-color: transparent; }

.category-button:last-child, #download-button:last-child {
  margin: 10px 10px 10px 5px; }

.moviePanel {
  background-color: #d9d9d9;
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 800px;
  height: 250px;
  margin: 10px; }
  .moviePanel h1 {
    color: #000; }

.movieTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  width: 85%;
  /*background-color: #f3f3f3;*/ }

.rating {
  color: #1a9cff;
  font-size: 20px;
  text-align: right;
  padding: 0;
  margin: 0;
  width: 15%; }

.movieText {
  min-width: 600px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.save-button, .remove-button {
  color: #000000;
  background-color: #d9d9d9;
  border: none;
  font-size: 35px;
  height: 50px;
  width: 50px;
  margin: auto 0 0 auto; }

.page-button {
  font-size: 14px;
  text-align: center;
  background-color: #f2f2f2;
  color: #262626;
  border-style: none;
  height: 50px;
  width: 100px;
  margin: 10px; }

.page-button:hover {
  transition: 0.1s;
  border: solid 3px #f2f2f2;
  font-size: 13px;
  background-color: transparent;
  color: #f2f2f2; }

.placeholder {
  background-color: #828282;
  min-height: 250px;
  min-width: 166.66px; }

.poster {
  height: 250px;
  width: auto; }

#logo {
  margin: 100px;
  height: 110px; }

.loader {
  background-color: blue;
  height: 1000px;
  width: 1000px; }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/*# sourceMappingURL=style.css.map */
