$primary-offwhite: #f2f2f2;
$primary-med: #d9d9d9;
$primary-dark: #262626;
$primary-light: #01d277;
$accent-color: #1a9cff;
$alt-accent: #ff7d1a; //01d277
$header-text: 'Poppins', sans-serif;
$body-text: 'Roboto', sans-serif;
@mixin flex-center-container() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@mixin min-margin() {
    margin: 10px;
}
@mixin button-hover($color) {
    transition: 0.1s;
    border: solid 3px $color;
    font-size: 13px;
    background-color: transparent;
}

body,
html {
    box-sizing: border-box;
}

body {
    background-color: $primary-dark;
}

h1 {
    color: $primary-light;
    font-family: $header-text;
    font-size: 36px;
    @include min-margin();
}

h2 {
    font-size: 36px;
    color: $primary-offwhite;
}

.section-title {
    font-family: $header-text;
    margin: 5px 0 -5px 0;
}

.no-movies-saved {
    color: $primary-offwhite;
    font-family: $body-text;
    font-size: 30px;
    text-align: center;
}

#app {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#searchForm {
    @include flex-center-container();
}



nav {
    @include flex-center-container();
    background-color: #404040;
    padding: 10px;
    width: 100%;
    min-width: 100px;
}

#genres {
    font-size: 36px;
    margin: 5px;
}

#genre {
    display: flex;
    @include flex-center-container();
}

#movieInfo {
    @include flex-center-container();
    flex-direction: row;
    max-width: 50%;
    // width: 1040px;
}

#searchInput {
    background-color: $primary-offwhite;
    font-family: $body-text;
    font-size: 22px;
    font-weight: 800;
    vertical-align: middle;
    border-style: none;
    width: 300px;
    height: 30px;
    padding: 10px;
    @include min-margin();
}

.submit-button {
    background-color: $primary-offwhite;
    vertical-align: middle;
    border-style: none;
    font-size: 14px;
    height: 50px;
    width: 50px;
    // padding: 18px 14px 14px 14px;
    margin: 0 5px 0 -10px;
}

.category-button {
    color: $primary-offwhite;
    background-color: $accent-color;
    font-family: $body-text;
    font-size: 14px;
    height: 50px;
    width: 150px;
    padding: 15px;
    margin: 10px 5px;
    border-style: none;
}

.category-button:hover {
    @include button-hover($accent-color);
}

#download-button {
    background-color: $alt-accent;
    margin: 30px 0;
    display: none;
    @extend .category-button;
}

#download-button:hover {
    @include button-hover($alt-accent);
}

.category-button:last-child {
    margin: 10px 10px 10px 5px;
}

.moviePanel {
    background-color: $primary-med;
    display: flex;
    font-family: $body-text;
    width: 800px;
    height: 250px;
    @include min-margin();

    h1 {
        color: #000;
    }
}

.movieTitle {
    font-family: $header-text;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    width: 85%;
    /*background-color: #f3f3f3;*/
}

.rating {
    color: $accent-color;
    font-size: 20px;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 15%;
}

.movieText {
    min-width: 600px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.save-button {
    color: #000000;
    background-color: $primary-med;
    border: none;
    font-size: 35px;
    height: 50px;
    width: 50px;
    margin: auto 0 0 auto;
}

.remove-button {
    @extend .save-button;
}

.page-button {
    font-size: 14px;
    text-align: center;
    background-color: $primary-offwhite;
    color: $primary-dark;
    border-style: none;
    height: 50px;
    width: 100px;
    margin: 10px;
}

.page-button:hover {
    @include button-hover($primary-offwhite);
    color: $primary-offwhite;
}

.placeholder {
    background-color: #828282;
    min-height: 250px;
    min-width: 166.66px;
}

.poster {
    height: 250px;
    width: auto;
}

#logo {
    margin: 100px;
    height: 110px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.loader {
    background-color: blue;
    height: 1000px;
    width: 1000px;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
